@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #111111;
  font-family: 'Plus Jakarta Sans', sans-serif;
}
.section {
  height: 150vh;
  padding: 20px;
}
.navbar {
  z-index: 1000;
}
